build/*
output/*
dist/*
plugins/*
config.js
!src/stories/config.js
._*
.DS_Store
.idea
node_modules/
npm-debug.log
.*.swp
.*.swo
coverage/*
.vscode
cypress/screenshots/*
cypress/videos/*

build-container/
node-v*-linux-x64.tar.gz
node/

