{
  "presets": [["@babel/env", {"modules": false}], "@babel/react"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    [
      "import",
      {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/env"], "@babel/react"]
    }
  }
}

