#main-container {
  display: grid;
  grid-template-areas:
    "head head head",
    "side main main",
    "foot foot foot"
}

#nav-menu {
  grid-area: "head";
}

#main-content: {
  grid-area: "main";
}

#main-footer: {
  grid-area: "foot";
}

#main-sidebar: {
  grid-area: "side";
}
