body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
  background-color: #eee;
  overflow-x: hidden;
  max-width: 100%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

#main-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    'hd hd hd hd   hd   hd   hd   hd   hd'
    'sd sd sd main main main main main main'
    'ft ft ft ft   ft   ft   ft   ft   ft';
}

#nav-menu {
  grid-area: hd;
}

#main-content {
  grid-area: main;
}

#main-footer {
  grid-area: ft;
}

#sidebar {
  grid-area: sd;
}

*:any-link {
  text-decoration: none;
}

.fa-xl {
    font-size: 1.66666em;
}
